<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat application</title>
    <link rel="stylesheet" href="/views/templates/style.css">
</head>
<body>
    <section class="chat_section">
        <div class="brand">
            <img height="40" src="/views/templates/chatimage.png" alt="chat logo image">
            <h1>customer Agent chat app</h1>
        </div>
        <div class="message_area"></div>
            <textarea id="textarea" cols="30" rows="1" placeholder="Enter your message here"></textarea>
        </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/chat/clientSide.js"></script>
</body>
</html>